<!DOCTYPE html>

<html>

<head>
	<title> Leaflet.MovingMarker Demo Page </title>

	<!-- META INFORMATION -->

	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta name="description" content="Leaflet plugin to animate marker !">
	<meta name="keywords" content="Leaflet MovingMarker marker ewoken github animation">
	<meta name="author" content="Ewoken">

	<!-- CSS -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

</head>

<style type="text/css">
	#map {
		height: 100%;
	}

	h1 {
		display: none;
	}

	html, body {
		height: 100%;
		margin: 0px;	
	}

	main {
		height: 100%;
	}

	section {
		height: 100%;
	}
</style>

<body>


	<main>
		<h1> Demo of Leaflet.MovingMarker </h1>

		<section>
			<div id="map">
			</div>
		</section>


	</main>

	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script type="text/javascript" src="/Users/aishwaryakaneri/PetProjects/DriverTracing/public/js/MovingMarker.js"></script>
	<script type="text/javascript" src="/Users/aishwaryakaneri/PetProjects/DriverTracing/public/js/script.js"></script>


</body>
</html>